<!DOCTYPE html>
<html lang="en">
<head>
<title>Music</title>
<link href="../public/stylesheets/studbud.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="home-box">
	<div class="home-left">
		<div class="logo-box"><a href="home.html"><img src="../public/images/logo.png" alt="" /></a></div>
		<div class="list1"><a href="home.html">Home</a></div>
		<div class="list2"><a href="task.html">Task</a></div>
		<div class="list3"><a href="timer1.html">Timer</a></div>
		<div class="list4-current"><a href="music.html">Music</a></div>
		<div class="list5"><a href="ReadingList.html">Reading list</a></div>
	</div>
	<div class="home-right">
		<div class="right-top">
			<p>StudBud - Music</p>						
			<div class="picture"><a href="#"><img src="../public/images/picture.png" alt="" /></a></div>
			<div class="news"><a href="#"><img src="../public/images/news.png" alt="" /></a></div>
		</div>
		<div class="music-list">
			<div class="music-mark"></div>
		    <div class="music-details">
				<h2>Your Song List</h2>
				<p>Tianbo Gong</p>
			    <a href="#"></a>
			</div>
		</div>
		<div class="music-ListBox">
			<ul>
			  <li class="distinct">
			 	 <div class="order">0</div>
				 <div class="song">Song</div>
				 <div class="play">0</div>
				 <div class="singer">Singer</div>
				 <div class="adddate">Adddate</div>
				 <div class="duration">Duration</div>
			  </li>
			  <li class="current-play">
			  	<div class="order">1</div>
				 <div class="song">Head In The Clouds</div>
				 <div class="play"><a href="#"><img src="../public/images/suspend.png" border="0"></a></div>
				 <div class="singer">Hayd</div>
				 <div class="adddate">Today</div>
				 <div class="duration">03:04</div>
			  </li>
			  <li>
			  	<div class="order">2</div>
				 <div class="song">Normal No More (Explicit)</div>
				 <div class="play"><a href="#"><img src="../public/images/broadcast.png" border="0"></a></div>
				 <div class="singer">Tysm</div>
				 <div class="adddate">3 days ago</div>
				 <div class="duration">03:19</div>
			  </li>
			  <li class="newsong">
			  	<div class="order">0</div>
				<div class="song"><a href="#">+ Add new song</a></div>				 
			  </li>
		    </ul>
		</div>
	</div>
</div>
</body>
</html>
