<!DOCTYPE html>
<html lang="en">
<head>
<title>Reading List</title>
<link href="../public/stylesheets/studbud.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="home-box">
	<div class="home-left">
		<div class="logo-box"><a href="home.html"><img src="../public/images/logo.png" alt="" /></a></div>
		<div class="list1"><a href="home.html">Home</a></div>
		<div class="list2"><a href="task.html">Task</a></div>
		<div class="list3"><a href="timer1.html">Timer</a></div>
		<div class="list4"><a href="music.html">Music</a></div>
		<div class="list5-current"><a href="ReadingList.html">Reading list</a></div>
	</div>
	<div class="home-right">
		<div class="right-top">
			<p>StudBud - Reading List</p>						
			<div class="picture"><a href="#"><img src="../public/images/picture.png" alt="" /></a></div>
			<div class="news"><a href="#"><img src="../public/images/news.png" alt="" /></a></div>
		</div>
		<div class="search-box">
			<div class="search-frame">
			<a href="#"><img src="../public/images/search.png"></a>
			<input name="" type="text">
		  </div>
		</div>	
		<div class="reading">
			<ul class="title">
				<li class="Name">Name</li>
				<li class="Link">Link</li>
				<li class="Author">Author</li>
				<li class="Date">Date</li>
			</ul>
			<ul class="data">
				<li class="Name">Sharing the Evertdy</li>
				<li class="Link"><a href="#">https://www.baidu.com</a></li>
				<li class="Author">Humpjheys,L</li>
				<li class="Date">2018</li>
			</ul>
			<ul class="data">
				<li class="Name">Sharing the Evertdy</li>
				<li class="Link"><a href="#">https://www.baidu.com</a></li>
				<li class="Author">Humpjheys,L</li>
				<li class="Date">2018</li>
			</ul>
			<ul class="data">
				<li class="Name">Sharing the Evertdy</li>
				<li class="Link"><a href="#"></li>
				<li class="Author">Humpjheys,L</li>
				<li class="Date">2018</li>
			</ul>
			<ul class="data">
				<li class="Name">Sharing the Evertdy</li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
			<ul class="data">
				<li class="Name"></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul><ul class="data">
				<li class="Name"><a href="#">+ Add new</a></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
		</div>		
	</div>
</div>
</body>
</html>
